<div *ngIf="pedidoAtual" class="pedido-detalhes">
  <h2>Pedido {{ pedidoAtual.id }}</h2>
    <p><strong>Data do Pedido:</strong> {{ pedidoAtual.data_Pedido! | data}}</p>
    <p><strong>Quantidade de Produtos:</strong> {{ pedidoAtual.quantidade}}</p>
    <p><strong>Valor Total:</strong> {{ pedidoAtual.valorTotal | moeda }}</p>

<div class="container">
  <div class="mb-3">
    <h3>Carrinho de Compras:</h3>
    <div *ngIf="pedidoAtual.itens && pedidoAtual.itens.length > 0; else semItens">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Preço Unitário</th>
            <th>Subtotal</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of pedidoAtual?.itens">
            <td>{{ item.produto?.nome || 'Produto não encontrado' }}</td>
            <td>
              <input type="number" [(ngModel)]="item.quantidade" 
                  min="1" 
                  max="100" 
                  (ngModelChange)="onQuantidadeChange(item)"
                  (input)="validarQuantidade(item)" 
                  required 
                />
                <div *ngIf="erroQuantidade" class="erro">
                  {{ erroQuantidade }}
                </div>

            </td>
            <td>R$ {{ item.preco_unitario | number: '1.2-2' }}</td>
            <td>R$ {{ (item.quantidade || 0) * (item.preco_unitario || 0) | number: '1.2-2' }}</td>
            <!-- <div class="removerItem">
              <button type="button" class="btn btn-info" (click)="removerProduto(pedidoAtual.produtoId!)">Remover Produto</button>
            </div> -->
            
          </tr>
        </tbody>
        <button type="button" class="btn btn-success" (click)="irParaItemPedido()">Adicionar Itens ao Pedido</button>
      
      </table>
    </div>
  
    <ng-template #semItens>
      <p>Não há itens neste pedido.</p>
    </ng-template>
  </div>
  <div  class="atualizarPedido">
    
    <button type="button" class="btn btn-info" (click)="atualizarPedido()">Finalizar Pedido</button>

  </div>
 
  
 
  
</div>

</div>
