<div class="container-item-pedido">
  <h2>Itens do Pedido</h2>

  <!-- Lista de itens do pedido -->
  <ul *ngIf="produtosDisponiveis.length > 0; else semItens">
    <li *ngFor="let produto of produtosDisponiveis">
      <div class="produto-disponivel">
        <span class="nome-produto">{{ produto.nome }}</span>
        <span class="preco-produto">R$ {{ produto.preco | number: '1.2-2' }}</span>
        <button (click)="selecionarProduto(produto)">Selecionar</button>
      </div>
    </li>
  </ul>

  <!-- Mensagem quando não há itens disponíveis -->
  <ng-template #semItens>
    <p>Nenhum item disponível para adicionar ao pedido.</p>
  </ng-template>
  <div *ngIf="pedidoId">
    <h2>Itens do Pedido #{{ pedidoId }}</h2>
    <!-- Seu código para exibir e adicionar itens ao pedido -->
   <!-- Itens selecionados para o pedido -->
   <div class="itens-selecionados" *ngIf="produtoSelecionado">
    <h3>Item Selecionado para o Pedido:</h3>
    <p>Nome: {{ produtoSelecionado.nome }}</p>
    <p>Preço: R$ {{ produtoSelecionado.preco | number: '1.2-2' }}</p>
    <p>Quantidade:
      <input type="number" [(ngModel)]="quantidade" min="1">
    </p>
    <p>Concluir Pedido:
      <select [(ngModel)]="concluido">
        <option [value]="true">Sim</option>
        <option [value]="false">Não</option>
      </select>
    </p>
      
    <div class="total-pedido">
      <strong>Valor Total: R$ {{ calcularValorTotal() | number: '1.2-2' }}</strong>
    </div>
    <button (click)="adicionarProdutoAoPedido()">Adicionar ao Pedido</button>
  </div>
  </div>
 

  <!-- Opicional: Lista de itens já adicionados ao pedido (se desejar exibir aqui) -->
  <!--
  <div class="itens-adicionados" *ngIf="pedidoService.itensPedido$.value.length > 0">
    <h3>Itens Adicionados ao Pedido:</h3>
    <ul>
      <li *ngFor="let item of pedidoService.itensPedido$.value">
        {{ item.nome }} - R$ {{ item.preco | number: '1.2-2' }}
      </li>
    </ul>
  </div>
  -->
</div>