<div class="container mt-4">
    <h2>Meus Pedidos</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Data do Pedido</th>
          <th>Valor Total</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pedido of pedidos">
          <td>{{ pedido.id }}</td>
          <td>{{ pedido.data_Pedido | date: 'dd/MM/yyyy' }}</td>
          <td>{{ pedido.valorTotal | currency: 'BRL' }}</td>
          <td>
            <button
            type="button" class="btn btn-danger"
              (click)="excluirPedido(pedido.id!)"
            >
              Excluir
            </button>
            <button  type="button" class="btn btn-info"(click)="abrirModal(pedido)">Ver itens</button>
          </td>
        </tr>
      </tbody>
    </table>
    <p *ngIf="pedidos.length === 0" class="text-muted">
      Nenhum pedido encontrado.
    </p>
  </div>
  
  <div *ngIf="pedidoSelecionado" class="modal">
    <div class="modal-content">
      <h2 class="modal-title">Itens do Pedido: {{ pedidoSelecionado.id }}</h2>
      <ul>
        <li *ngFor="let item of pedidoSelecionado.itens">
          <div class="modal-body">
            <p><strong>Produto:</strong> {{ item.produto.nome }}</p>
            <p><strong>Quantidade:</strong> {{ item.quantidade }}</p>
            <p><strong>Preço Unitário:</strong> {{ item.preco_unitario | currency }}</p>
          </div>
         
        </li>
      </ul>
      <button (click)="fecharModal()">Fechar</button>
    </div>
  </div>
  
  