<header>
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <span class="navbar-brand mb-2 h1">
        <!-- Exibe o nome do usuário logado -->
        <ng-container *ngIf="nomeUsuario; else naoLogado">
          Bem-vindo, {{ nomeUsuario }}
        </ng-container>
        <ng-template #naoLogado>
          <span>Usuário não logado</span>
        </ng-template>
      </span>
      <div>
        <button class="btn btn-outline-danger" (click)="logout()">Sair</button>
      </div>
    </div>
  </nav>
</header>
