<header>
    <div *ngIf="nomeUsuario" class="menu-burger">
      <nav  class="navbar bg-body-tertiary">
        <div class="container-fluid" *ngIf="nomeUsuario">
          <span class="navbar-brand mb-2 h1">Bem Vindo, {{ nomeUsuario }}</span>
        </div>
        <div  class="container-fluid">
          <!-- Adicione um link para logout se necessário -->
          <button class="btn btn-outline-success" type="submit">
            <span  (click)="logout()">Sair</span>
          </button>
        </div>
      </nav>
    </div>

  </header>
