

<body>
  
    
    <div class="container">
        <div class="welcome">
            <h1>Vendas Web</h1>
            <p>Para continuar, por favor faça o login com sua conta.</p>
            <button type="button" class="btn btn-primary" (click)="login()" >Login</button>
        </div>
        <div class="form-container">
            <div class="form-horizontal">
                <h3>Cadastro de Usuários</h3>
        <div class="form-group">
            <label for="nome" class="form-label">NOME:</label>
            <input [(ngModel)]="usuario.nome" class="form-control"
                id="nome" placeholder="nome do usuario ...">
        </div>
        <div class="form-group">
            <label for="cpf" class="form-label">CPF:</label>
            <input  [(ngModel)]="usuario.cpf" class="form-control"
                id="cpf" placeholder="cpf ...">
        </div>
        <div class="form-group">
            <label for="email" class="form-label">EMAIL:</label>
            <input [(ngModel)]="usuario.email" class="form-control"
                id="email" autocomplete="off" placeholder="email ...">
        </div>
        <div class="form-group">
            <label for="senha" class="form-label">SENHA:</label>
            <input [(ngModel)]="usuario.senha" class="form-control"
                id="senha" type="password" placeholder="senha ...">
        </div>
        <form [formGroup]="form">
            <div class="row p-0">
                <div class="form-group">
                    <label for="cep" class="form-label">CEP:</label>
                    <input [(ngModel)]="usuario.cep" formControlName="cep" type="text"  class="form-control"
                        id="cep"  placeholder="Digite o Cep sem espaços...">
                </div>
                <div class="form-group">
                    <label  for="logradouro" class="form-label">LOGRADOURO:</label>
                    <input [(ngModel)]="usuario.logradouro" formControlName="logradouro" class="form-control"
                        id="logradouro"  placeholder="logradouro ...">
                </div>
                <div class="form-group">
                    <label for="unidade" class="form-label">NÚMERO:</label>
                    <input [(ngModel)]="usuario.unidade"  formControlName="unidade" class="form-control"
                        id="unidade"  placeholder="numero ...">
                </div>
                <div class="form-group">
                    <label for="bairro" class="form-label">BAIRRO:</label>
                    <input  [(ngModel)]="usuario.bairro"  formControlName="bairro" class="form-control"
                        id="bairro"  placeholder="bairro...">
                </div>
                <div class="form-group">
                    <label for="cidade" class="form-label">CIDADE:</label>
                    <input  [(ngModel)]="usuario.cidade"  formControlName="cidade" class="form-control"
                        id="cidade"  placeholder="cidade ...">
                </div>
                <div class="form-group">
                    <label for="estado" class="form-label">ESTADO:</label>
                    <input  [(ngModel)]="usuario.estado"  formControlName="estado" class="form-control"
                        id="estado"  placeholder="estado ...">
                </div>
            </div>
        </form>
        <div class="form-group">
            <label for="dt_nascimento" class="form-label">DATA DE NASCIMENTO:</label>
            <input type="date" [(ngModel)]="usuario.dt_nascimento" class="form-control"
                id="dt_nascimento" placeholder="Data de Nascimento ...">
        </div>
        <div class="form-group">
            <label for="sexo" class="form-label">SEXO:</label>
            <input [(ngModel)]="usuario.sexo" class="form-control"
                id="sexo"  placeholder="Sexo ...">
        </div>
        <div class="form-group">
            <label for="telefone" class="form-label">TELEFONE:</label>
            <input [(ngModel)]="usuario.telefone" class="form-control"
                id="telefone"  placeholder="telefone ...">
        </div>
        <div class="form-group">
            <label for="tipo" class="form-label">TIPO:</label>
            <input [(ngModel)]="usuario.tipo" class="form-control"
                id="tipo"  placeholder="Tipo ...">
        </div>
        <div class="form-group" style="display: flex; margin: 10px; width: 100%;">
            <button type="button" class="btn btn-primary me-3"  (click)="salvar()" >
                {{botaoAcao}}
            </button>
            <button type="button" class="btn btn-primary me-3  " (click)="voltar()">
                VOLTAR
            </button>
        </div>
       
    
    
            </div>
        </div>
        
        
    
        {{usuario | json}}
        
    </div>

    
</body>
