

<div class="container">
   <section class="products">
    <div class="product-card">
      <div class="card-produtos">
        <figure class="figure">
          <img class="card-img-top" [src]="imagensTratadas[produto.id]" alt="Imagem do Produto">
        </figure>
      </div>
     
      <h2 class="card-title" >{{ produto.nome }}</h2>
      <div class="price">R$ {{ produto.preco }}</div>
     
      <button (click)="adicionarProdutoAoPedido(produto)">Comprar</button>
      <button (click)="abrirModal(produto)">Ver Descrição</button>
     
    </div>
  </section>
</div>

<div class="modal fade" id="descricaoModal" #descricaoModal tabindex="-1" aria-labelledby="descricaoModalLabel" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="descricaoModalLabel">Descrição do Produto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p *ngIf="produtoSelecionado">{{ produtoSelecionado.descricao }}</p>
        <p *ngIf="!produtoSelecionado">Nenhuma descrição disponível.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>


