<body>
    <div class=" container ">
        <div class="left">
            <div class="content">
                <h1><span>VENDAS WEB </span></h1>
            </div>
        </div>
        <div class="login-container">
            <div class="right">
                <div class="login-box">
                    <h3>Login</h3>
                    <form>
                        <div class="mb-3" class="form-group">
                            <label for="email">E-mail:</label>
                            <input id="email" type="text" [(ngModel)]="email" name="email" type="text" 
                            class="form-control textfield" placeholder="Digite seu Email" value="" />
                        </div>
                        <div class="mb-3" class="form-group">
                            <label for="senha">Senha:</label>
                            <input  id="senha" matInput [type]="hidePassword ? 'password' : 'text'"
                            [(ngModel)]="senha" name="senha" type="password" class="form-control textfield" placeholder="Digite sua senha" value="" />
                        </div>
                        <div class="mb-3" class="form-group">
                            <button (click)="login(email, senha)" class="btnSubmit">Login</button>
                        
                            <button (click)="cadastrar()"class="btnSubmit">Cadastre-se</button>
                        </div>
                        <p *ngIf="erro" class="text-danger">Usuário ou Senha Inválidos</p>
                        <!-- <div class="form-group">
                            <button type="button" href="#" class="ForgetPwd">Forget Password?</button>
                        </div> -->
                    </form>
              
    
                </div>
                
            </div>
            </div>
           
    </div>
</body>

