<h1 class="text-center mt-3">Vendas Web A Loja do Hardware</h1>
<app-header *ngIf="logado"></app-header>

<nav class="navbar navbar-expand-lg nav-dark bg-primary">
    <div class="container-fluid">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item" *ngIf="!authService.estaLogado()">
                <a class="nav-link" routerLink="/login">Login</a>
            </li>

            <li class="nav-item" *ngIf="authService.estaLogado()">
                <a class="nav-link" routerLink="/produtos">Produtos</a>
            </li>
            <li class="nav-item" *ngIf="authService.estaLogado()">
                <a class="nav-link" routerLink="/meus-pedidos">meus-pedidos</a>
            </li>
           

            <li class="nav-item" *ngIf="authService.ehAdmin()">
                <a class="nav-link" routerLink="/novoUsuario">Cadastrar Usuário</a>
            </li>
            <li class="nav-item" *ngIf="authService.ehAdmin()">
                <a class="nav-link" routerLink="/lista">Lista de Usuários</a>
            </li>
            <li class="nav-item" *ngIf="authService.ehAdmin()">
                <a class="nav-link" routerLink="/listaProdutos">Lista De Produtos</a>
            </li>
            <li class="nav-item" *ngIf="authService.ehAdmin()">
                <a class="nav-link" routerLink="/cadastroProdutos">Cadastrar Produtos</a>
            </li>
            <li class="nav-item" *ngIf="authService.ehAdmin()">
                <a class="nav-link" routerLink="/ListaCategoria">Categoria</a>
            </li>
            <li class="nav-item" *ngIf="authService.ehAdmin()">
                <a class="nav-link" routerLink="/cadastroCategorias">Cadastrar Categoria</a>
            </li>

        
            <!-- <li class="nav-item" *ngIf="authService.estaLogado()">
                <a class="nav-link" (click)="logout()">Logout</a>
            </li> -->
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>
